.container-section {
  padding: 16px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.feature-section-grid {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding: 48px 12px;

  background-color: var(--bg-primary);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.fullpage .container-section {
  max-width: 100%;
  padding: 0;
}

.fullpage .feature-section-grid {
  min-height: 100vh;
  border-radius: 0;
  box-shadow: none;
}

.feature-section-grid-header {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature-section-grid-header-supporting-text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-brand-primary);
}

.feature-section-grid-header-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-section-grid-header-title {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--color-primary);
}

.feature-section-grid-header-subtitle {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--color-secondary);
}

.feature-section-grid-features {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;

  list-style: none;
  padding: 0;
}

.feature-section-grid-feature {
  grid-column: span 4;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.feature-section-grid-feature-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  text-align: center;
}

.feature-section-grid-feature-icon {
  width: 48px;
  height: 48px;
  background-color: var(--bg-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 9999px;
  color: var(--color-brand-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.feature-section-grid-feature-content-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--color-primary);
}

.feature-section-grid-feature-content-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--color-secondary);
}

@media (min-width: 768px) {
  .feature-section-grid {
    gap: 64px;
    padding: 64px 16px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .feature-section-grid-header-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .feature-section-grid-header-subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .feature-section-grid-features {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    align-items: start;
  }

  .feature-section-grid-feature {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1440px) {
  .feature-section-grid {
    padding: 96px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }

  .feature-section-grid-content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .feature-section-grid-header-title {
    padding: 0 250px;
  }

  .feature-section-grid-header-subtitle {
    padding: 0 200px;
  }

  .feature-section-grid-features {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 48px;
  }

  .feature-section-grid-feature {
    grid-column: span 4;
  }
}
