.blog-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 340px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  overflow: hidden; /* ensures image follows rounded corners */
  margin-block: 8px;
}

.blog-card-img {
  object-fit: cover;
  display: block;
  height: 288px;
  width: 100%;
}

.blog-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px 16px;
}

.badge {
  padding: 3px 10px;
  border-radius: 9999px;

  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.badge-success {
  color: #15803d;
  background-color: #f0fdf4;
  border: 1px solid #bbf7d0;
}

.blog-card-badge {
  padding: 1px 7.5px;
}

.blog-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.blog-card-title-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-card-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #171717;

  display: -webkit-box;
  -webkit-line-clamp: 1; /* max 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-card-title,
.blog-card-text {
  overflow-wrap: anywhere;
}

.blog-card-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #525252;

  display: -webkit-box;
  -webkit-line-clamp: 2; /* max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-card-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4338ca;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: none;
  transition: color 300ms, box-shadow 300ms;
  outline: none;
  border-radius: 4px; /* for Tab */
}

.blog-card-btn:hover,
.blog-card-btn:focus {
  color: #3730a3;
}

.blog-card-btn:focus {
  box-shadow: 0px 0px 0px 1px #444ce7, 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

@media (min-width: 768px) {
  .blog-card {
    margin-block: 16px;
  }
}
