.container-section {
  padding: 16px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.fullpage .container-section {
  max-width: 100%;
  padding: 0;
}

.cookie-consent-section {
  padding: 48px 12px;
  min-height: 710px;

  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  position: relative;
}

.fullpage .cookie-consent-section {
  min-height: 100vh;
  border-radius: 0;
  box-shadow: none;
}

.cookie-consent-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  width: 340px;
  background-color: var(--bg-primary);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.cookie-consent-modal-html {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.cookie-consent-modal-react {
    margin: auto;
} 

.cookie-consent-modal-react::backdrop {
  background: rgb(0 0 0 / 0.4);
  backdrop-filter: blur(6px);
}

.cookie-consent-modal-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cookie-consent-modal-cookie {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cookie-consent-modal-cookie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-consent-modal-cookie-header h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
}

.cookie-consent-modal-cookie p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-secondary);
}

/* создаем область: прямоугольник 36px x 20px */
.switch {
  position: relative; /* for switch-slider */
  display: inline-block; /* тк дб в строке с текстом, не занимать всю строку, но иметь ширину/высоту */
  width: 36px;
  height: 20px;
}

/* прячем настоящий checkbox, он сущестует, но прозрачный и не занимает места */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* рисуем дорожку, растягиваем на всю область родителя - switch */
.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #e5e7eb;
  border: 1px solid #e5e7eb;
  border-radius: 9999px;
  cursor: pointer;

  transition:
    background-color 400ms,
    border-color 400ms;
}

/* рисуем кружок */
.switch-slider::before {
  content: ""; /* creates a before pseudo-element. However, this element won't be visible yet because its computed height is 0. */
  box-sizing: border-box; /* these pseudo-elements have the default box-sizing set to content-box. */
  display: inline-block; /* the default display of this pseudo-element is set to inline.  */
  width: 16px;
  height: 16px;
  background-color: var(--bg-primary);
  border-radius: 9999px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);

  position: absolute;
  left: 1px; /* + border: 1 */
  bottom: 1px; /* + border: 1 */

  transition: translate 400ms;
}

/* если input отмечен, стилизуй следующий за ним .switch-slider */
input:checked + .switch-slider::before {
  translate: 16px;
}

input:checked + .switch-slider {
  background-color: #4338ca;
  border: 1px solid #4338ca;
}

input:checked:not(:disabled):hover + .switch-slider,
input:checked:not(:disabled):focus + .switch-slider {
  background-color: #3730a3;
}

input:not(:disabled):hover + .switch-slider,
input:not(:disabled):focus + .switch-slider {
  background-color: #d1d5db;
}

input:disabled + .switch-slider {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  pointer-events: none;
}

input:disabled + .switch-slider::before {
  background-color: #d1d5db;
}

input:focus + .switch-slider {
  outline: none;
  border: 1px solid #9ca3af;
  box-shadow: 0px 0px 0px 4px rgba(157, 164, 174, 0.2);
}

input:checked:focus + .switch-slider {
  border: 1px solid #4f46e5;
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.cookie-consent-modal-actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.cookie-consent-modal-actions-allow {
  display: flex;
  gap: 8px;
}

.cookie-consent-modal-btn-wrapper {
  flex: 1 1 0%;
}

.cookie-consent-modal-btn-wrapper .button {
  width: 100%;
}

@media (min-width: 768px) {
  .cookie-consent-modal {
    width: 458px;
  }

  .cookie-consent-modal-actions .button-decline-cookie {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .cookie-consent-modal {
    width: 384px;
  }
}
