html,
body {
  scroll-behavior: smooth;
}

.marketing-landing-page {
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  padding: 16px;
  margin: 0 auto;
}

.marketing-landing-page-header {
  position: sticky;
  top: 0;
  padding-inline: 16px;
  z-index: 1070;
}

.marketing-landing-page-content {
  background-color: var(--bg-primary);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.marketing-landing-page-header #sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
}
