@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #171717;
  --color-secondary: #525252;
  --color-success: #15803d;
  --color-brand-primary: #4338ca;
  --color-brand-primary-emphasize: #3730a3;
  --color-primary-invert: #ffffff;

  --bg-primary: #ffffff;
  --bg-success: #f0fdf4;
  --bg-brand-primary: #4338ca;
  --bg-brand-primary-emphasize: #3730a3;
  --bg-primary-hover: #fafafa;

  --border-success: #bbf7d0;
}

html,
body {
  min-height: 100%; /* for gradient background */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

figure,
blockquote {
  margin: 0;
}

#header {
  background-color: #d1d5db;
  color: var(--secondary);
  padding-top: 28px;
  padding-bottom: 40px;
}

#header h1 {
  font-size: 1.87rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

#layout-page-overlay {
  background-image: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: -16px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.section-title {
  font-size: 1.12rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-block: 6px;
}

.showcase .section-title {
  margin-left: 16px;
}

.ax-button {
  all: unset;
  outline: revert;
  box-sizing: border-box;
}

.view-full-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--color-brand-primary);
  text-decoration: none;
  border-radius: 4px; /* for focus */
  margin-left: 16px;
  outline: none;
}

.view-full-link:hover,
.view-full-link:focus {
  color: var(--color-brand-primary-emphasize);
}

.view-full-link:focus {
  width: fit-content;
  box-shadow: 0px 0px 0px 1px #444ce7, 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}
