@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #171717;
  --color-primary-hover: #0a0a0a;
  --color-secondary: #525252;
  --color-success: #15803d;
  --color-brand-primary: #4338ca;
  --color-brand-primary-emphasize: #3730a3;
  --color-primary-invert: #ffffff;
  --color-disabled: #a3a3a3;
  --color-tertiary: #737373;
  --color-error: #dc2626;

  --bg-primary: #ffffff;
  --bg-success: #f0fdf4;
  --bg-brand-primary: #4338ca;
  --bg-brand-primary-emphasize: #3730a3;
  --bg-primary-hover: #fafafa;
  --bg-disabled: #f5f5f5;
  --bg-brand-subtle: #eef2ff;

  --border-success: #bbf7d0;
  --border-primary: #e5e5e5;
  --border-brand-solid: #4f46e5;
}

html,
body {
  min-height: 100%; /* for gradient background */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

figure,
blockquote {
  margin: 0;
}

#header {
  background-color: #d1d5db;
  color: var(--secondary);
  padding-top: 28px;
  padding-bottom: 40px;
}

#header h1 {
  font-size: 1.87rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

#layout-page-overlay {
  background-image: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: -16px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.section-title {
  font-size: 1.12rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-block: 6px;
}

.showcase .section-title {
  margin-left: 16px;
}

.view-full-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--color-brand-primary);
  text-decoration: none;
  border-radius: 4px; /* for focus */
  margin-left: 16px;
  outline: none;
}

.view-full-link:hover,
.view-full-link:focus {
  color: var(--color-brand-primary-emphasize);
}

.view-full-link:focus {
  width: fit-content;
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.badge {
  padding: 3px 10px;
  border-radius: 9999px;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.badge-success {
  color: var(--color-success);
  background-color: var(--bg-success);
  border: 1px solid var(--border-success);
}

/* reset */
.ax-button {
  all: unset;
  outline: revert;
  box-sizing: border-box;
}

/* base */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-family: inherit;
  width: 100%;

  outline: none;
  transition:
    background-color 300ms,
    box-shadow 300ms,
    color 300ms,
    translate 180ms;
}

.button:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* size */

.button-size-md {
  height: 40px;
  padding: 10px 14px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.button-size-lg {
  height: 44px;
  padding: 10px 16px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button-size-lg-xl {
  height: 44px;
  padding: 10px 16px;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* smaller padding on secondary btn for visual compactness */
.button-secondary.button-size-lg {
  padding: 9px 15px;
}

.button-size-xl {
  height: 48px;
  padding: 12px 20px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button-secondary.button-size-xl {
  padding: 11px 19px;
}

/* theme, button variants */
.button-primary {
  background: var(--bg-brand-primary);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: var(--color-primary-invert);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--bg-brand-primary-emphasize);
}

.button-primary:active,
.button-secondary:active {
  translate: 0.5px 0.5px;
}

.button-primary:disabled,
.button-secondary:disabled {
  background-color: var(--bg-disabled);
  box-shadow: none;
  color: var(--color-disabled);
  pointer-events: none;
}

.button-secondary {
  border: 0.5px solid #e6e6e6;
  background-color: var(--bg-primary);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: var(--color-primary);
  transition: translate 180ms;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--bg-primary-hover);
  border: 1px solid #e6e6e6;
  color: var(--color-primary-hover);
}
.button-secondary:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* toggle */
.button-toggle {
  flex: 1;
}

.button-toggle.active {
  color: var(--color-primary);
}

.button-toggle.inactive {
  color: var(--color-secondary);
  border: 0.5px solid #fff;
  box-shadow: none;
  background-color: none;
}

/* input */

.input-field {
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  padding: 10px 14px;
  width: 100%;
  background-color: var(--bg-primary-hover);

  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-primary);

  outline: none;
}

.input-field:focus {
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 1px 2px rgba(16, 24, 40, 0.05),
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.input-field::placeholder {
  color: var(--color-tertiary);
}

.input-field-error {
   border: 1px solid #fca5a5;
}

.input-field-error:focus {
  box-shadow:
    0px 0px 0px 1px #d92d20,
    0px 0px 0px 4px rgba(217, 45, 32, 0.12);
}

.input-error {
  display: none;
}

.input-error-isVisible {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-error);
}

/* toast */

.toast {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.toast-visible {
  opacity: 1;
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 10px 4px 4px;
  border-radius: 2000px;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.toast-content-error {
  background-color: #fef2f2;
  color: #dc2626;
}

.toast-content-success {
  background-color: #f0fdf4;
  color: #15803d;
}

.toast-badge {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  height: 24px;
  background-color: var(--bg-primary);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 9999px;
}

.toast-badge-error {
  color: #991b1b;
}

@media (min-width: 768px) {
  .button-size-lg-xl {
    height: 48px;
    padding: 12px 20px;
  }

  .button-toggle {
    flex: 0 0 140px;
  }

  .toast {
    width: max-content;
    margin-inline: auto;
  }
}
